.playButton,
.resetButton,
.saveButton {
    background-color: #005FCC;
    border: none;
    height: 5rem;
    border-radius: 6px;
    font-size: 1.3rem;
}

.playButton {
    margin-right: 1rem;
    flex-basis: 75%;
}

.resetButton {
    flex-basis: 25%;
}

.saveButton {
    width: 100%;
    background-color: #43c841;
    margin-top: 1rem;
}

.playButton:hover,
.resetButton:hover,
.saveButton:hover {
    background-color: red;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #f0d43a;
}

.playing {
    background-color: red;
}

.playing:hover {
    background-color: #005FCC;
}

.currentWord {
    color: red;
    font-weight: bold;
}