/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500&display=swap");

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9a563d;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  font-family: Figtree, sans-serif;
  --ifm-heading-font-family: Figtree, sans-serif;
  --ifm-font-color-base: #2d3648;
  --ifm-hero-background-color: #f9f5e0;
  /* --ifm-navbar-height: 84px; */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #9a563d;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-background-color: #282e39 !important;
  --ifm-font-color-base: #f9f5e0;
  --ifm-hero-background-color: #1b1f27;
}

[data-theme="dark"] .navbar {
  background-color: #0d0e12;
}

.navbar__title {
  font-family: Figtree;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  letter-spacing: 0.22px;
}

[data-theme="dark"] .navbar__title {
  color: #f9f5e0;
}

.hero--primary {
  --ifm-hero-background-color: #f9f5e0;
}

[data-theme="dark"] .hero--primary {
  --ifm-hero-background-color: #1b1f27;
}

.hero__title,
.hero__subtitle,
.hi,
.david {
  color: var(--ifm-font-color-base);
}

/* [data-theme="dark"] .hero__title,
[data-theme="dark"] .hero__subtitle {
  color: #f9f5e0;
} */

.hero__subtitle {
  font-size: 0.875rem;
}

.ellipse_h--1 {
  color: #fefefb;
  text-align: center;
  font-family: Figtree;
  font-size: 41.17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ellipse_h--2 {
  color: #fefefb;
  text-align: center;
  font-family: Figtree;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  width: 178px;
  line-height: normal;
}

.ellipse_text {
  color: #fefefb;
  text-align: center;
  font-family: Crimson Pro;
  font-size: 14.821px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 87px;
}

.ellipse__blob {
  margin: 1rem;
}

.hi {
  text-align: center;
  font-family: Figtree;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 40.8px */
  letter-spacing: 0.34px;
}

.david {
  text-align: center;
  font-family: Figtree;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 76.8px */
  letter-spacing: 0.64px;
}

.project--grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.projects--heading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.projects--heading > h1 {
  color: var(--ifm-font-color-base);
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.03rem;
}

.project--wrapper {
  width: 400px;
  display: block;
  border-radius: 8px;
  margin: 1rem 0;
  width: 100%;
}

.project--wrapper:hover {
  background-color: var(--ifm-hero-background-color);
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.project--wrapper > a {
  text-decoration: none;
  padding: 2rem;
}

.project__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.project__item--reverse {
  flex-direction: row-reverse;
}

.project_img--wrapper {
  position: relative;
  width: 280px;
}

.project_img--wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.project_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.project_desc--wrapper {
  padding: 1rem;
  max-width: calc(280px + 2rem);
}

.project--wrapper:hover .project_desc--wrapper > h2 {
  text-decoration: underline;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.project_subtitle--1,
.project_subtitle--2 {
  --ifm-link-hover-decoration: none !important;
}

.project_subtitle--2 {
  font-family: Crimson Pro;
  font-size: 1.125rem;
  line-height: normal;
}

.project-heading,
.project--wrapper,
.project_subtitle--1,
.project_subtitle--2 {
  color: var(--ifm-font-color-base);
}

.project--wrapper a {
  color: var(--ifm-font-color-base);
}
